   body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #e0e0e0;
        }
        .container {
            max-width: 900px;
            margin: 20px auto;
            background-color: #fff;
            display: flex;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
        .sidebar {
            background-color: #333;
            color: #fff;
            padding: 20px;
            width: 300px;
           
        }
        .sidebar img {
            width: 151px; /* Lebar 4 cm */
            height: 227px; /* Tinggi 6 cm */
            object-fit: cover;
            border-radius: 8px; /* Menambahkan sudut membulat */
            margin: 0 auto; /* Menengahkan gambar */
    display: block; /* Untuk memastikan margin auto bekerja */
        }
        .sidebar h1 {
            font-size: 24px;
            margin-top: 20px;
        }
        .sidebar p {
            font-size: 18px;
            color: #f4f4f4;
        }
        .sidebar ul {
            list-style: none;
            padding: 0;
            margin: 20px 0;
        }
        .sidebar ul li {
            margin: 10px 0;
        }
        .sidebar ul li a {
            color: #f0c929;
            text-decoration: none;
        }
        .sidebar ul li a:hover {
            text-decoration: underline;
        }
        .content {
            padding: 20px;
            flex-grow: 1;
            background-color: #f0f0f0;
        }
        .content h2 {
            color: #f0c929;
            border-bottom: 2px solid #333;
            padding-bottom: 5px;
        }
        .content ul {
            list-style: none;
            padding: 0;
        }
        .content ul li {
            margin: 15px 0;
            color: #333;
            line-height: 1.15; /* Jarak antar baris */
        }
        .content ul li strong {
            font-size: 18px;
        }
        .description {
            margin: 20px 0;
        }
        .section {
            border-top: 1px solid #ddd;
            margin: 20px 0;
            padding-top: 20px;
        }
        footer {
            text-align: center;
            padding: 20px 0;
            background-color: #333;
            color: #fff;
        }
